/* fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  text-align: center;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .hamburguer {
    i {
        display: none;
      }
    input {
        display: none;
    }
  }
  
  i {
    display: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vh;

  li {
    list-style: none;
    display: inline-block;

    a {
      color: #000;
      text-decoration: none;
      margin: 0 10px;
      font-family: "Roboto", sans-serif;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    a:hover {
      opacity: 0.6;
    }
  }

  .icons {
    i {
      margin: 0 10px;
      color: #000;
    }
  }
}

.p1 {
  margin-top: 3vh;
  display: flex;
  justify-content: right;
  z-index: 0;
  img {
    width: 100%;
  }

  .container {
    margin-right: 249px;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(34px);
    margin-top: 10vh;
    padding: 40px;
    border-radius: 15px;
    h1 {
      color: #fff;
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
    }

    p {
      color: #ececec;
      font-size: 0.9rem;
      font-family: "Roboto", sans-serif;
      margin-top: 10px;
    }

    button {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      width: 180px;
      height: 52px;
      border: none;
      margin-top: 10px;
    }
  }
}

.products {
  margin-top: 13vh;
  text-align: center;

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: underline #969696;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #616161;
    margin-top: 2vh;
  }

  img {
    margin-top: 3vh;
  }
}

.vision {
  text-align: center;
  margin-top: 13vh;
}

.solucoes {
  text-align: center;
  margin-top: 13vh;
}

.projetos {
  text-align: center;
  margin-top: 13vh;

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: underline #969696;
    font-size: 2rem;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #616161;
    margin-top: 2vh;
  }

  .imgs {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .img-1 {
      text-align: center;

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 1vh;
      }

      p {
        margin-top: 0.1vh;
        font-size: 0.8rem;
      }
    }

    .img-2 {
      text-align: center;

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 1vh;
      }

      p {
        margin-top: 0.1vh;
        font-size: 0.8rem;
      }
    }

    .img-3 {
      text-align: center;

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 1vh;
      }

      p {
        margin-top: 0.1vh;
        font-size: 0.8rem;
      }
    }

    .img-4 {
      text-align: center;

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 1vh;
      }

      p {
        margin-top: 0.1vh;
        font-size: 0.8rem;
      }
    }
  }

  button {
    width: 10vw;
    height: 5vh;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    margin-top: 4vh;
  }
}

.tile {
  margin-top: 13vh;
  text-align: center;

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: underline #969696;
    font-size: 2rem;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #616161;
    margin-top: 2vh;
  }

  .caixas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;

    .l1 {
      margin-top: 4vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .caixa1 {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
        margin-right: 1vw;

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }

      .caixa2 {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
        margin-right: 1vw;

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }

      .caixa3 {
        margin-right: 1vw;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }

      .caixa4 {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }
    }

    .l2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 4vh;

      .caixa5 {
        margin-right: 1vw;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }

      .caixa6 {
        margin-right: 1vw;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }

      .caixa7 {
        margin-right: 1vw;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }

      .caixa8 {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);

        h2 {
          margin-top: 1vh;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #111010;
          font-size: 1.4rem;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          color: #cacaca;
          font-size: 0.9rem;

          strong {
            color: rgba(17, 16, 16, 0.5);
          }
        }
      }
    }
  }

  button {
    margin-top: 4vh;
    width: 210px;
    height: 52px;
    color: #fff;
    background-color: #000;
  }
}

.showrom {
  margin-top: 13vh;
  text-align: center;
}

footer {
  margin-top: 13vh;
  background-color: #000;
}

.foter {
  margin: 0 240px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .cx1 {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons-2 {
      margin-top: 5vh;
      

      a {
        color: #fff;
        padding: 10px;
      }
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 0.6rem;
      color: #fff;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
  }

  .cx2 {
    float: left;

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: #fff;
    }

    ul {
      margin-top: 1vh;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          color: #fff;
        }

        a:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .cx3 {
    float: left;

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: #fff;
    }

    ul {
      margin-top: 1vh;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          color: #fff;
        }

        a:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .cx4 {
    float: left;

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: #fff;
    }

    ul {
      margin-top: 1vh;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          color: #fff;
        }

        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
@media (max-width: 768px) {
    .logo {
        justify-content: space-evenly;
        i {
            display: block;
        }
        .hamburguer {
            i {
                display: block;
            }
            input {
                display: block;
            }
        }
    }
    .navbar {
        display: none;
    }
    .p1 {
      .container {
        display: none;
      }
    }
    .products {
      img {
        width: 100%;
      }
    }
    .vision {
      img {
        width: 100%;
      }
    }
    .solucoes {
      img {
        width: 100%;
      }
    }
    .projetos {
      .imgs {
        flex-direction: column;
        img {
          width: 100%;
        }
      }
    }
    .tile {
      .caixas{
        text-align: center;
        margin: 0;
        .l1 {
          flex-direction: column;
          text-align: center;
        }
        .l2 {
          flex-direction: column;
          text-align: center;
        }
      }
    }
    .showrom {
      img {
        width: 100%;
      }
    }
    .foter {
      flex-direction: column;
      text-align: center;
      .cx1 {
        .icons-2 {
          display: none;
        }
        p {
          display: none;
        }
      }
      .cx2 {
        margin-top: 2vh;
        ul li {
          display: none;
        }
      }
      .cx3 {
        margin-top: 2vh;
        ul li {
          display: none;
        }
      }
      .cx4 {
        margin-top: 2vh;
        ul li {
          display: none;
        }
      }
    }

}

